[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
start = "jupyter notebook main.ipynb"
pdf_gen = "jupyter nbconvert --execute --to webpdf --allow-chromium-download ./main.ipynb --output export"
html_gen = "jupyter nbconvert --execute --to html ./main.ipynb --output-dir html --output index"
format = "black main.ipynb"

[packages]
numpy = "*"
pandas = "*"
matplotlib = "*"
notebook = "*"
pycountry = "*"
nbconvert = {extras = ["webpdf"], version = "*"}
statsmodels = "*"
scipy = "*"
geopandas = "*"
scikit-learn = "*"

[dev-packages]
black = {extras = ["jupyter"], version = "*"}

[requires]
python_version = "3.11"
